# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
/out/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment
.env
**/.env
*.env.local

# Docs
docs/

# Spring Boot
spring-shell.log
